include README.md
include pacu/resources/figtree_template.txt
include pacu/resources/mega/*.mao
include pacu/resources/snp_workflow.smk
include pacu/resources/style.css
include pacu/resources/testdata/bam/ilmn/*.bai
include pacu/resources/testdata/bam/ilmn/*.bam
include pacu/resources/testdata/bam/ont/*.bai
include pacu/resources/testdata/bam/ont/*.bam
include pacu/resources/testdata/fastq/*.fastq.gz
include pacu/resources/testdata/mega/model_selection_output.tsv
include pacu/resources/testdata/vcfs/*.vcf
include pacu/resources/testdata/NC_002695.2-subset.fasta
include pacu/resources/testdata/phylogeny.nwk
include pacu/resources/testdata/snp_matrix.fasta
